Repository tupe12334/centy-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, cspell lint --no-must-find-files

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md,css}": ["prettier --write"],
  "*.{ts,tsx,js,md,json}": ["cspell lint --no-must-find-files"]
}

refactor(api): remove deprecated RPCs and add temp workspace feature
  components/issues/IssueDetail.tsx
  components/settings/GeneralSettings.tsx
  components/settings/ProjectTitleEditor.tsx
  components/settings/Settings.tsx
  components/shared/LinkSection.tsx
  components/users/AssigneeSelector.tsx
  e2e/fixtures/config.ts
  e2e/fixtures/issues.ts
  gen/centy_pb.ts
  next-env.d.ts
  proto/centy.proto
  styles/pages/IssueDetail.css
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

feat(project-selector): add search functionality to projects select dropdown
  .centy/issues/b8b17a94-65ad-454a-985a-0f8aa77e1f1c/issue.md
  .centy/issues/b8b17a94-65ad-454a-985a-0f8aa77e1f1c/metadata.json
  components/project/ProjectSelector.tsx
  styles/components/ProjectSelector.css
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix(project-selector): remove getProjectDisplayName to fix type error
  components/project/ProjectSelector.tsx
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix(e2e): remove userTitle/projectTitle from fixtures
  e2e/fixtures/config.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

refactor(project-selector): migrate from floating-ui to Radix UI Popover
  .centy/issues/fa38bee0-14c0-47a6-9454-1b11e751a382/issue.md
  .centy/issues/fa38bee0-14c0-47a6-9454-1b11e751a382/metadata.json
  components/project/ProjectSelector.tsx
  package.json
  pnpm-lock.yaml
  styles/components/ProjectSelector.css
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

feat(project-settings): add custom project title support with user and project scope
  components/organizations/OrganizationDetail.tsx
  components/project/ArchivedProjects.tsx
  components/settings/ProjectConfig.tsx
  components/settings/ProjectTitleEditor.tsx
  components/shared/DuplicateModal.tsx
  components/shared/MoveModal.tsx
  e2e/fixtures/config.ts
  gen/centy_pb.ts
  next-env.d.ts
  proto/centy.proto
  styles/components/ProjectTitleEditor.css
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

chore(proto): sync proto with include_temp field
  proto/centy.proto
Due: none

feat(demo-mode): add demo mode for exploring app with mock data
  app/layout.tsx
  components/layout/DaemonDisconnectedOverlay.tsx
  components/layout/DemoModeIndicator.tsx
  components/providers/DaemonStatusProvider.tsx
  components/shared/DaemonStatusIndicator.tsx
  cspell.json
  lib/grpc/client.ts
  lib/grpc/demo-data.ts
  lib/grpc/mock-handlers.ts
  styles/components/DaemonDisconnectedOverlay.css
  styles/components/DaemonStatusIndicator.css
  styles/components/DemoModeIndicator.css
  styles/globals.css
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

docs(issues): add issue for AgentConfigEditor undefined map error
  .centy/issues/f6ecce57-e35c-4594-b377-46272f1c6784/issue.md
  .centy/issues/f6ecce57-e35c-4594-b377-46272f1c6784/metadata.json
  .centy/organization.json
Due: prettier --write, cspell lint --no-must-find-files

fix(daemon-status): prevent infinite ListProjects loop on status check
  components/providers/DaemonStatusProvider.tsx
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

feat(demo-mode): add URL-based demo mode activation with ?demo=true
  components/providers/DaemonStatusProvider.tsx
  e2e/tests/demo-mode/demo-mode-url.spec.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

feat(mobile): add mobile-friendly navbar with hamburger menu
  .centy/issues/7c6df1fe-80ee-4eb3-b05f-3b5a35f525a6/issue.md
  .centy/issues/7c6df1fe-80ee-4eb3-b05f-3b5a35f525a6/metadata.json
  components/layout/Header.tsx
  e2e/tests/visual/mobile-navbar.visual.spec.ts
  screenshots/visual/mobile-navbar.visual.spec.ts-mobile-hamburger-to-x-chromium.png
  screenshots/visual/mobile-navbar.visual.spec.ts-mobile-hamburger-to-x-firefox.png
  screenshots/visual/mobile-navbar.visual.spec.ts-mobile-hamburger-to-x-mobile-chrome.png
  screenshots/visual/mobile-navbar.visual.spec.ts-mobile-hamburger-to-x-webkit.png
  screenshots/visual/mobile-navbar.visual.spec.ts-mobile-navbar-closed-dark-chromium.png
  screenshots/visual/mobile-navbar.visual.spec.ts-mobile-navbar-closed-dark-firefox.png
  screenshots/visual/mobile-navbar.visual.spec.ts-mobile-navbar-closed-dark-mobile-chrome.png
  screenshots/visual/mobile-navbar.visual.spec.ts-mobile-navbar-closed-dark-webkit.png
  screenshots/visual/mobile-navbar.visual.spec.ts-mobile-navbar-closed-light-chromium.png
  screenshots/visual/mobile-navbar.visual.spec.ts-mobile-navbar-closed-light-firefox.png
  screenshots/visual/mobile-navbar.visual.spec.ts-mobile-navbar-closed-light-mobile-chrome.png
  screenshots/visual/mobile-navbar.visual.spec.ts-mobile-navbar-closed-light-webkit.png
  screenshots/visual/mobile-navbar.visual.spec.ts-mobile-navbar-open-dark-chromium.png
  screenshots/visual/mobile-navbar.visual.spec.ts-mobile-navbar-open-dark-firefox.png
  screenshots/visual/mobile-navbar.visual.spec.ts-mobile-navbar-open-dark-mobile-chrome.png
  screenshots/visual/mobile-navbar.visual.spec.ts-mobile-navbar-open-dark-webkit.png
  screenshots/visual/mobile-navbar.visual.spec.ts-mobile-navbar-open-light-chromium.png
  screenshots/visual/mobile-navbar.visual.spec.ts-mobile-navbar-open-light-firefox.png
  screenshots/visual/mobile-navbar.visual.spec.ts-mobile-navbar-open-light-mobile-chrome.png
  screenshots/visual/mobile-navbar.visual.spec.ts-mobile-navbar-open-light-webkit.png
  screenshots/visual/mobile-navbar.visual.spec.ts-tablet-navbar-desktop-layout-chromium.png
  screenshots/visual/mobile-navbar.visual.spec.ts-tablet-navbar-desktop-layout-firefox.png
  screenshots/visual/mobile-navbar.visual.spec.ts-tablet-navbar-desktop-layout-mobile-chrome.png
  screenshots/visual/mobile-navbar.visual.spec.ts-tablet-navbar-desktop-layout-webkit.png
  styles/globals.css
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

feat(issues): add issue to integrate e2e tests into CI pipeline
  .centy/.centy-manifest.json
  .centy/issues/84c6e638-ec13-431c-a95e-49cf0f9199da/issue.md
  .centy/issues/84c6e638-ec13-431c-a95e-49cf0f9199da/metadata.json
Due: prettier --write, cspell lint --no-must-find-files

feat(app): hide AI Plan button in issue detail view
  components/issues/IssueDetail.tsx
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

feat(issues): add issue for hiding VS Code button when code command unavailable
  .centy/.centy-manifest.json
  .centy/issues/f6ecce57-e35c-4594-b377-46272f1c6784/metadata.json
  .centy/issues/f95e233a-608f-456b-b38f-a850348cf8be/issue.md
  .centy/issues/f95e233a-608f-456b-b38f-a850348cf8be/metadata.json
Due: prettier --write, cspell lint --no-must-find-files

feat(issues): add e2e testing issue for VS Code button visibility
  .centy/.centy-manifest.json
  .centy/issues/c8016705-dd46-4f00-848a-9d88fd27c286/issue.md
  .centy/issues/c8016705-dd46-4f00-848a-9d88fd27c286/metadata.json
Due: prettier --write, cspell lint --no-must-find-files

feat(ci): add e2e tests to CI pipeline
  .github/workflows/ci.yml
  e2e/fixtures/config.ts
  e2e/fixtures/docs.ts
  e2e/fixtures/issues.ts
  playwright.config.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix(ci): make deploy workflow depend on CI success
  .github/workflows/deploy.yml
Due: none

fix(issues): preserve org and project query params when navigating
  components/issues/IssuesList.tsx
  hooks/useAppLink.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix(e2e): skip visual tests in CI due to font rendering differences
  playwright.config.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

docs(issues): add root page redesign brainstorming issue
  .centy/.centy-manifest.json
  .centy/issues/71db47dd-3453-4298-b0d4-d22dea5935d8/issue.md
  .centy/issues/71db47dd-3453-4298-b0d4-d22dea5935d8/metadata.json
Due: prettier --write, cspell lint --no-must-find-files

feat(issues): add documentation for deploy workflow and visual testing improvements
  .centy/issues/85b06e78-ce00-46ac-b8bb-71a483a8488c/issue.md
  .centy/issues/85b06e78-ce00-46ac-b8bb-71a483a8488c/metadata.json
  .centy/issues/c12c2ff8-d0ed-4823-a846-9187eb795da0/issue.md
  .centy/issues/c12c2ff8-d0ed-4823-a846-9187eb795da0/metadata.json
Due: prettier --write, cspell lint --no-must-find-files

fix(providers): use lazy state initializer in useLastProjectPath
  components/providers/PathContextProvider.tsx
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

feat(routing): implement URL path-based routing
  app/[[...path]]/ProjectRouterClient.tsx
  app/[[...path]]/page.tsx
  app/docs/[[...params]]/AggregateDocsPageClient.tsx
  app/docs/[[...params]]/page.tsx
  app/issues/[[...params]]/AggregateIssuesPageClient.tsx
  app/issues/[[...params]]/page.tsx
  app/layout.tsx
  app/page.tsx
  components/docs/AggregateDocsList.tsx
  components/docs/DocsList.tsx
  components/issues/IssuesList.spec.tsx
  components/issues/IssuesList.tsx
  components/layout/Header.tsx
  components/layout/LegacyUrlRedirect.tsx
  components/project/ProjectSelector.tsx
  components/providers/PathContextProvider.tsx
  hooks/useAppLink.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix: remove query param syncing from ProjectProvider
  components/providers/ProjectProvider.tsx
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

test: update E2E tests to use path-based routing for demo mode
  e2e/tests/docs/docs.spec.ts
  e2e/tests/issues/issue-detail.spec.ts
  e2e/tests/issues/issues-list.spec.ts
  e2e/tests/visual/issues.visual.spec.ts
  e2e/tests/visual/layout.visual.spec.ts
  e2e/utils/test-helpers.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix: remove org query param syncing from OrganizationProvider
  components/providers/OrganizationProvider.tsx
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix: defer localStorage reads to avoid hydration mismatch
  components/providers/OrganizationProvider.tsx
  components/providers/ProjectProvider.tsx
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix: parse path segments from pathname in PathContextProvider
  components/providers/PathContextProvider.tsx
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

feat(visual-testing): unify fonts with Noto Sans for consistent CI/CD visual testing
  app/layout.tsx
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  styles/globals.css
  styles/index.css
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

feat(navigation): separate items menu from general pages menu with visual divider
  components/layout/Header.tsx
  styles/globals.css
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

chore(cspell): add noto to dictionary
  cspell.json
Due: prettier --write, cspell lint --no-must-find-files

feat(husky): add e2e testing to pre-push hook
  .husky/pre-push
Due: none

chore(cspell): add missing words to dictionary
  cspell.json
Due: prettier --write, cspell lint --no-must-find-files

fix(routing): add generateStaticParams to dynamic route pages for static export
  app/[organization]/[project]/assets/page.tsx
  app/[organization]/[project]/config/page.tsx
  app/[organization]/[project]/docs/[slug]/page.tsx
  app/[organization]/[project]/docs/new/page.tsx
  app/[organization]/[project]/docs/page.tsx
  app/[organization]/[project]/issues/[issueId]/page.tsx
  app/[organization]/[project]/issues/new/page.tsx
  app/[organization]/[project]/issues/page.tsx
  app/[organization]/[project]/page.tsx
  app/[organization]/[project]/pull-requests/[prNumber]/page.tsx
  app/[organization]/[project]/pull-requests/new/page.tsx
  app/[organization]/[project]/pull-requests/page.tsx
  app/[organization]/[project]/users/[userId]/page.tsx
  app/[organization]/[project]/users/new/page.tsx
  app/[organization]/[project]/users/page.tsx
  app/organizations/[orgSlug]/page.tsx
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

docs(issues): add issues for visual test consistency and strict fonts
  .centy/issues/0005/issue.md
  .centy/issues/0005/metadata.json
  .centy/issues/0006/issue.md
  .centy/issues/0006/metadata.json
Due: prettier --write, cspell lint --no-must-find-files

feat(ci): add visual test workflow improvements
  .github/workflows/ci.yml
  .github/workflows/update-screenshots.yml
Due: none

feat(visual-testing): enable CI visual tests and add Docker-based local testing (#4)
  .centy/issues/0005/metadata.json
  .centy/issues/0006/metadata.json
  .dockerignore
  .github/workflows/ci.yml
  .github/workflows/update-screenshots.yml
  .husky/pre-push
  Dockerfile.playwright
  package.json
  playwright.config.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files
