Repository tupe12334/centy-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, cspell lint --no-must-find-files

feat(ssg): add force-static to docs/new page
  app/[organization]/[project]/docs/new/page.tsx
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

feat: add UI for creating standalone workspaces
  components/issues/IssuesList.tsx
  components/shared/StandaloneWorkspaceModal.tsx
  e2e/tests/visual/[organization]/[project]/workspaces/screenshot/standalone-workspace.visual.spec.ts
  e2e/tests/workspaces/standalone-workspace.spec.ts
  gen/centy_pb.ts
  proto/centy.proto
  styles/components/StandaloneWorkspaceModal.css
  styles/pages/IssuesList.css
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

feat(ssg): convert /archived page to Server Component wrapper
  app/archived/page.tsx
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

feat(actions): get entity actions from daemon via gRPC
  components/docs/DocDetail.tsx
  components/issues/IssueDetail.tsx
  components/pull-requests/PRDetail.tsx
  components/shared/ActionBar.tsx
  gen/centy_pb.ts
  hooks/useActionShortcuts.ts
  hooks/useEntityActions.ts
  lib/grpc/mock-handlers.ts
  proto/centy.proto
  styles/components/ActionBar.css
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

feat: enable Next.js typedRoutes for compile-time link validation
  components/docs/CreateDoc.tsx
  components/issues/CreateIssue.tsx
  components/issues/IssuesList.tsx
  components/layout/Header.tsx
  components/layout/LegacyUrlRedirect.tsx
  components/organizations/CreateOrganization.tsx
  components/organizations/OrganizationDetail.tsx
  components/organizations/OrganizationsList.tsx
  components/project/ProjectSelector.tsx
  components/project/ProjectsGrid.tsx
  components/providers/PathContextProvider.tsx
  components/pull-requests/CreatePR.tsx
  components/pull-requests/PRsList.tsx
  components/routing/CatchAllRouter.tsx
  components/shared/LinkSection.tsx
  components/users/CreateUser.tsx
  components/users/UserDetail.tsx
  components/users/UsersList.tsx
  hooks/useAppLink.ts
  hooks/useKeyboardNavigation.ts
  next-env.d.ts
  next.config.js
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

test: add visual E2E screenshots for standalone workspace modal
  app/[organization]/[project]/workspaces/screenshot/issues-list-with-workspace-button-chromium.png
  app/[organization]/[project]/workspaces/screenshot/standalone-workspace-modal-chromium.png
  app/[organization]/[project]/workspaces/screenshot/standalone-workspace-modal-dark-chromium.png
  app/[organization]/[project]/workspaces/screenshot/standalone-workspace-modal-filled-chromium.png
  app/[organization]/[project]/workspaces/screenshot/standalone-workspace-modal-mobile-chromium.png
  app/[organization]/[project]/workspaces/screenshot/standalone-workspace-modal-tablet-chromium.png
  e2e/tests/visual/[organization]/[project]/workspaces/screenshot/standalone-workspace.visual.spec.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix(test): fix click outside test to avoid demo-mode-indicator
  e2e/tests/workspaces/standalone-workspace.spec.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix: update test script to run vitest explicitly
  package.json
Due: prettier --write, cspell lint --no-must-find-files

chore: update issue metadata and regenerate protobuf
  .centy/.centy-manifest.json
  .centy/issues/029643c2-e5a0-4b0c-80a0-7233874d0c3e/metadata.json
  .centy/issues/1cdc8eb3-5ff9-4023-a08e-057ac4472de5/metadata.json
  .centy/issues/822eb670-d039-41a1-aaf5-2286db348fef/metadata.json
  .centy/issues/992db7ba-9e95-461c-a87d-e5b521768986/metadata.json
  .centy/issues/9ba9a46d-c059-4001-a783-937e0c164b4e/metadata.json
  .centy/issues/c1bae1da-18eb-4a8c-a939-a2cab6aba1f9/metadata.json
  .centy/issues/e68aca5d-60d0-4477-8780-3256a16d3c52/metadata.json
  .centy/issues/eff3b28f-71c4-469a-ab5e-bbe6dbfb29e5/metadata.json
  e2e/tests/visual/[organization]/[project]/issues/[issueId]/screenshot/issue-detail.visual.spec.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

style: fix formatting issues
  .centy/issues/c1bae1da-18eb-4a8c-a939-a2cab6aba1f9/issue.md
  components/layout/LegacyUrlRedirect.tsx
  components/pull-requests/CreatePR.tsx
  components/routing/CatchAllRouter.tsx
  components/users/UsersList.tsx
  hooks/useAppLink.ts
  hooks/useKeyboardNavigation.ts
  next-env.d.ts
  styles/App.css
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

style: fix formatting
  next-env.d.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

test(archived): add e2e and visual tests for /archived page
  e2e/tests/archived/archived.spec.ts
  e2e/tests/visual/screenshot/archived.visual.spec.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

feat(e2e): add visual test baseline screenshots for archived page
  app/screenshot/archived-empty-dark-chromium.png
  app/screenshot/archived-empty-light-chromium.png
  app/screenshot/archived-empty-mobile-light-chromium.png
  app/screenshot/archived-remove-all-confirmation-dark-chromium.png
  app/screenshot/archived-remove-all-confirmation-light-chromium.png
  app/screenshot/archived-remove-confirmation-dark-chromium.png
  app/screenshot/archived-remove-confirmation-light-chromium.png
  app/screenshot/archived-with-project-dark-chromium.png
  app/screenshot/archived-with-project-light-chromium.png
  app/screenshot/archived-with-project-mobile-light-chromium.png
  app/screenshot/archived-with-project-tablet-light-chromium.png
Due: none

fix: use URL-based project context in IssueDetail instead of global state
  components/issues/IssueDetail.tsx
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

chore: add new issues and fix formatting
  .centy/.centy-manifest.json
  .centy/issues/4729be03-61f0-4a41-ad81-91dc1b57013d/issue.md
  .centy/issues/4729be03-61f0-4a41-ad81-91dc1b57013d/metadata.json
  .centy/issues/68b17b66-a549-4476-8267-dabddbe09580/issue.md
  .centy/issues/68b17b66-a549-4476-8267-dabddbe09580/metadata.json
  next-env.d.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix: scope back-link CSS in IssueDetail to prevent double arrow icon
  styles/pages/IssueDetail.css
Due: prettier --write

feat: add AI file system permissions configuration and integrate hooks for read/edit/write
  .ai-fs-permissions.yaml
  .claude/settings.json
Due: prettier --write, cspell lint --no-must-find-files

fix: add missing permission for pnpm install in settings
  .claude/settings.json
Due: prettier --write, cspell lint --no-must-find-files

fix: add missing deny permission for npm install in settings
  .claude/settings.json
Due: prettier --write, cspell lint --no-must-find-files

fix: add missing permission for pnpm build in settings
  .claude/settings.json
Due: prettier --write, cspell lint --no-must-find-files

fix: scope back-link CSS in IssueDetail to prevent double arrow icon (#23)
  styles/pages/IssueDetail.css
Due: prettier --write

fix: remove inline timeouts from e2e tests
  e2e/tests/archived/archived.spec.ts
  e2e/tests/demo-mode/demo-mode-url.spec.ts
  e2e/tests/docs/docs.spec.ts
  e2e/tests/issues/issue-detail.spec.ts
  e2e/tests/issues/issues-list.spec.ts
  e2e/tests/navigation/navigation.spec.ts
  e2e/tests/visual/[organization]/[project]/docs/screenshot/docs.visual.spec.ts
  e2e/tests/visual/[organization]/[project]/issues/[issueId]/screenshot/issue-detail.visual.spec.ts
  e2e/tests/visual/[organization]/[project]/issues/screenshot/issues-list.visual.spec.ts
  e2e/tests/visual/[organization]/[project]/workspaces/screenshot/standalone-workspace.visual.spec.ts
  e2e/tests/visual/screenshot/archived.visual.spec.ts
  e2e/tests/visual/screenshot/header.pre-push.visual.spec.ts
  e2e/tests/visual/screenshot/homepage.visual.spec.ts
  e2e/tests/visual/screenshot/root-page.pre-push.visual.spec.ts
  e2e/tests/workspaces/standalone-workspace.spec.ts
  e2e/utils/test-helpers.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix: run e2e and visual tests sequentially in pre-push hook
  .husky/pre-push
Due: none

fix: add missing New Workspace button to IssuesList
  components/issues/IssuesList.tsx
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix: set org explicit selection when activating demo mode via URL
  components/providers/DaemonStatusProvider.tsx
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

chore: update visual snapshots for next/font change
  app/[organization]/[project]/issues/[issueId]/screenshot/editor-selector-dropdown-open-dark-firefox.png
  app/[organization]/[project]/issues/[issueId]/screenshot/editor-selector-dropdown-open-dark-webkit.png
  app/[organization]/[project]/issues/[issueId]/screenshot/editor-selector-dropdown-open-light-webkit.png
  app/[organization]/[project]/issues/[issueId]/screenshot/editor-selector-vscode-dark-webkit.png
  app/[organization]/[project]/issues/[issueId]/screenshot/editor-selector-vscode-light-webkit.png
Due: none

fix: exclude flaky mobile-chrome from pre-push visual tests
  .husky/pre-push
Due: none

feat: add issue metadata and remove timeout from testing
  .centy/issues/66023077-e5eb-4647-931a-909f6dcf863e/issue.md
  .centy/issues/66023077-e5eb-4647-931a-909f6dcf863e/metadata.json
Due: prettier --write, cspell lint --no-must-find-files

chore: add Firefox and WebKit snapshots for status filter tests
  e2e/tests/issues/status-filter.spec.ts-snapshots/for-validation-status-badge-firefox-darwin.png
  e2e/tests/issues/status-filter.spec.ts-snapshots/for-validation-status-badge-webkit-darwin.png
  e2e/tests/issues/status-filter.spec.ts-snapshots/status-filter-dropdown-all-states-firefox-darwin.png
  e2e/tests/issues/status-filter.spec.ts-snapshots/status-filter-dropdown-all-states-webkit-darwin.png
  e2e/tests/issues/status-filter.spec.ts-snapshots/status-filter-for-validation-results-firefox-darwin.png
  e2e/tests/issues/status-filter.spec.ts-snapshots/status-filter-for-validation-results-webkit-darwin.png
Due: none

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,md,css})
  cspell lint --no-must-find-files: any of: *.{ts,tsx,js,md,json}
