Repository tupe12334/centy-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix: prevent infinite loop in useEffect hooks causing issues page to hang
  .centy/.centy-manifest.json
  .centy/issues/37b5c074-799f-4864-a32b-9384fe9cc968/metadata.json
  .centy/issues/900a31b9-2424-4501-af70-eeac72d46789/metadata.json
  app/page.tsx
  components/organizations/OrgSwitcher.tsx
  components/project/ProjectSelector.tsx
  components/providers/OrganizationProvider.tsx
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix: remove more callback functions from useEffect deps to prevent infinite loops
  components/docs/AggregateDocsList.tsx
  components/issues/AggregateIssuesList.tsx
  components/issues/IssueDetail.tsx
  components/issues/IssuesList.tsx
  components/providers/DaemonStatusProvider.tsx
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

feat(home): add organization-grouped project grid to root page
  app/page.tsx
  components/project/ProjectsGrid.tsx
  styles/globals.css
  styles/pages/HomePage.css
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix: remove fetchData from useEffect deps in ProjectsGrid to prevent infinite loop
  components/project/ProjectsGrid.tsx
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix(routing): add catch-all route for dynamic org/project paths
  app/[...path]/page.tsx
  components/routing/CatchAllRouter.tsx
  components/shared/WorkspaceModeModal.tsx
  next-env.d.ts
  public/_redirects
  styles/components/WorkspaceModeModal.css
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix: add 404.html for fallback routing (#5)
  package.json
Due: prettier --write, cspell lint --no-must-find-files

feat(routing)!: enforce project-scoped routing for all content pages
  app/docs/new/page.tsx
  app/docs/page.tsx
  app/issues/new/page.tsx
  app/issues/page.tsx
  app/pull-requests/new/page.tsx
  app/pull-requests/page.tsx
  app/users/new/page.tsx
  app/users/page.tsx
  components/docs/CreateDoc.tsx
  components/docs/DocDetail.tsx
  components/issues/CreateIssue.tsx
  components/issues/IssueDetail.tsx
  components/layout/Header.tsx
  components/project/ArchivedProjects.tsx
  components/project/ProjectsGrid.tsx
  components/pull-requests/CreatePR.tsx
  components/pull-requests/PRDetail.tsx
  components/pull-requests/PRsList.tsx
  components/users/CreateUser.tsx
  components/users/UserDetail.tsx
  components/users/UsersList.tsx
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix(navigation): use useAppLink for back-to-list navigation in detail pages
  components/docs/DocDetail.tsx
  components/issues/IssueDetail.tsx
  components/pull-requests/PRDetail.tsx
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

feat(header): make organization and project names clickable links (#7)
  components/layout/Header.tsx
  styles/App.css
  styles/globals.css
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix(header): make header context clickable to navigate to organization page
  components/layout/Header.tsx
  styles/App.css
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix(header): make header context clickable to navigate to organization page (#8)
  components/layout/Header.tsx
  styles/App.css
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

feat(testing): add root page screenshot testing to pre-push hook
  .husky/pre-push
  app/screenshot/root-page-darwin-chromium.png
  app/screenshot/root-page-darwin-firefox.png
  app/screenshot/root-page-darwin-mobile-chrome.png
  app/screenshot/root-page-darwin-webkit.png
  e2e/tests/visual/screenshot/root-page.pre-push.visual.spec.ts
  package.json
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

chore(centy): add new issues and docs for project tracking
  .centy/.centy-manifest.json
  .centy/docs/architecture.md
  .centy/docs/development-conventions.md
  .centy/docs/issue-requirements-and-workflow.md
  .centy/docs/vision.md
  .centy/issues/0005/metadata.json
  .centy/issues/0006/metadata.json
  .centy/issues/06caf90b-b180-468a-a816-ca70aba6a180/issue.md
  .centy/issues/06caf90b-b180-468a-a816-ca70aba6a180/metadata.json
  .centy/issues/158db2b2-e559-4e6b-bd97-f937c77d3f2c/issue.md
  .centy/issues/158db2b2-e559-4e6b-bd97-f937c77d3f2c/metadata.json
  .centy/issues/3256041f-db64-4636-bed1-907b83f64ab7/issue.md
  .centy/issues/3256041f-db64-4636-bed1-907b83f64ab7/metadata.json
  .centy/issues/37b5c074-799f-4864-a32b-9384fe9cc968/issue.md
  .centy/issues/3b6b9b6c-5f02-4d41-92cb-9ef910d2ae31/issue.md
  .centy/issues/3b6b9b6c-5f02-4d41-92cb-9ef910d2ae31/metadata.json
  .centy/issues/49c2b070-a915-48a4-8cbb-502901a6dbc2/issue.md
  .centy/issues/49c2b070-a915-48a4-8cbb-502901a6dbc2/metadata.json
  .centy/issues/900a31b9-2424-4501-af70-eeac72d46789/issue.md
  .centy/issues/9893644d-cbf9-445d-9e2f-2ba135d318d4/issue.md
  .centy/issues/9893644d-cbf9-445d-9e2f-2ba135d318d4/metadata.json
  .centy/issues/a1912255-3aa6-49d4-a2fe-58c8a5af7b17/issue.md
  .centy/issues/a1912255-3aa6-49d4-a2fe-58c8a5af7b17/metadata.json
  .centy/issues/bf655e8f-682f-4d0d-9542-d61e94c7c9c5/issue.md
  .centy/issues/bf655e8f-682f-4d0d-9542-d61e94c7c9c5/metadata.json
  .centy/issues/c2733474-4762-4852-b641-af78367e7f88/assets/Screenshot 2026-01-03 at 22.11.50.png
  .centy/issues/c2733474-4762-4852-b641-af78367e7f88/issue.md
  .centy/issues/c2733474-4762-4852-b641-af78367e7f88/metadata.json
  .centy/issues/d903f170-e43c-4d3a-abee-a0df19b7e28c/issue.md
  .centy/issues/d903f170-e43c-4d3a-abee-a0df19b7e28c/metadata.json
  .centy/issues/eff3b28f-71c4-469a-ab5e-bbe6dbfb29e5/issue.md
  .centy/issues/eff3b28f-71c4-469a-ab5e-bbe6dbfb29e5/metadata.json
Due: prettier --write, cspell lint --no-must-find-files

feat: add Sentry configuration for edge and server environments
  .gitignore
  .mcp.json
  app/global-error.tsx
  instrumentation-client.ts
  instrumentation.ts
  next.config.js
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  sentry.edge.config.ts
  sentry.server.config.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

feat(settings): add permissions configuration for Bash and WebFetch commands
  .claude/settings.json
  cspell.json
Due: prettier --write, cspell lint --no-must-find-files

feat(sentry): add environment separation and dynamic sample rates
  instrumentation-client.ts
  sentry.edge.config.ts
  sentry.server.config.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

chore(issues): add SSG optimization issues for static pages
  .centy/issues/026f745d-a81b-4afa-a1e7-25cfb130a708/issue.md
  .centy/issues/026f745d-a81b-4afa-a1e7-25cfb130a708/metadata.json
  .centy/issues/1cdc8eb3-5ff9-4023-a08e-057ac4472de5/issue.md
  .centy/issues/1cdc8eb3-5ff9-4023-a08e-057ac4472de5/metadata.json
  .centy/issues/992db7ba-9e95-461c-a87d-e5b521768986/issue.md
  .centy/issues/992db7ba-9e95-461c-a87d-e5b521768986/metadata.json
  .centy/issues/a12a86a5-4715-4f73-909e-b36ddbfdf132/issue.md
  .centy/issues/a12a86a5-4715-4f73-909e-b36ddbfdf132/metadata.json
  .centy/issues/a7a6053e-7448-4a77-8e30-7c96e7697ad3/issue.md
  .centy/issues/a7a6053e-7448-4a77-8e30-7c96e7697ad3/metadata.json
  .centy/issues/d6321d3a-cc37-4040-b5d5-d67f5ff3af52/issue.md
  .centy/issues/d6321d3a-cc37-4040-b5d5-d67f5ff3af52/metadata.json
  .centy/issues/e68aca5d-60d0-4477-8780-3256a16d3c52/issue.md
  .centy/issues/e68aca5d-60d0-4477-8780-3256a16d3c52/metadata.json
  .centy/issues/fd7a98e6-ff55-481e-aa83-bcf859d90188/issue.md
  .centy/issues/fd7a98e6-ff55-481e-aa83-bcf859d90188/metadata.json
Due: prettier --write, cspell lint --no-must-find-files

feat(settings): add PreToolUse hook for command verification
  .claude/settings.json
Due: prettier --write, cspell lint --no-must-find-files

chore(issues): add project banner issue #113
  .centy/.centy-manifest.json
  .centy/issues/ee221b7a-d0a3-4fe5-803d-9d52021af9fd/assets/centy-daemon-banner.png
  .centy/issues/ee221b7a-d0a3-4fe5-803d-9d52021af9fd/issue.md
  .centy/issues/ee221b7a-d0a3-4fe5-803d-9d52021af9fd/metadata.json
Due: prettier --write, cspell lint --no-must-find-files

feat(settings): update PreToolUse command to use pnpm dlx for block-no-verify
  .claude/settings.json
Due: prettier --write, cspell lint --no-must-find-files

refactor: use neural network logo from @centy-io/assets
  .centy/issues/ee221b7a-d0a3-4fe5-803d-9d52021af9fd/assets/centy-daemon-banner.png
  .centy/issues/ee221b7a-d0a3-4fe5-803d-9d52021af9fd/issue.md
  .centy/issues/ee221b7a-d0a3-4fe5-803d-9d52021af9fd/metadata.json
  components/layout/Header.tsx
  package.json
  public/banner.png
  public/banner.svg
  public/centy-logo.svg
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

test: add header visual e2e test for pre-push validation
  e2e/tests/visual/screenshot/header.pre-push.visual.spec.ts
  package.json
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

chore: add script to generate pre-push visual test screenshots
  package.json
Due: prettier --write, cspell lint --no-must-find-files

test: add header visual test baseline screenshots
  app/screenshot/header-dark-darwin-chromium.png
  app/screenshot/header-light-darwin-chromium.png
  app/screenshot/header-mobile-dark-darwin-chromium.png
  app/screenshot/header-mobile-light-darwin-chromium.png
Due: none

feat: add project banner and checkbox logo (Issue #113) (#10)
  .centy/issues/ee221b7a-d0a3-4fe5-803d-9d52021af9fd/assets/centy-daemon-banner.png
  .centy/issues/ee221b7a-d0a3-4fe5-803d-9d52021af9fd/issue.md
  .centy/issues/ee221b7a-d0a3-4fe5-803d-9d52021af9fd/metadata.json
  .centy/issues/ee221b7a-d0a3-4fe5-803d-9d52021af9fd/plan.md
  app/screenshot/header-dark-darwin-chromium.png
  app/screenshot/header-light-darwin-chromium.png
  app/screenshot/header-mobile-dark-darwin-chromium.png
  app/screenshot/header-mobile-light-darwin-chromium.png
  components/layout/Header.tsx
  e2e/tests/visual/screenshot/header.pre-push.visual.spec.ts
  package.json
  public/banner.png
  public/banner.svg
  styles/App.css
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

feat(ssg): add force-static to users/new page
  app/[organization]/[project]/users/new/page.tsx
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

style: format next-env.d.ts
  next-env.d.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix(e2e): use navigateToDemoProject for demo-context navigation tests
  e2e/tests/navigation/navigation.spec.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix(e2e): improve demo-mode-url test reliability on Firefox
  e2e/tests/demo-mode/demo-mode-url.spec.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix(e2e): improve demo activation test reliability on Firefox
  e2e/tests/demo-mode/demo-mode-url.spec.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix(e2e): skip demo-mode-url tests on Firefox due to flakiness
  e2e/tests/demo-mode/demo-mode-url.spec.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix(metadata): update issue statuses to in-progress and adjust updated timestamps
  .centy/.centy-manifest.json
  .centy/issues/026f745d-a81b-4afa-a1e7-25cfb130a708/metadata.json
  .centy/issues/a7a6053e-7448-4a77-8e30-7c96e7697ad3/metadata.json
Due: prettier --write, cspell lint --no-must-find-files

feat(issue): add issue template for organization filter dropdown styling issue
  .centy/.centy-manifest.json
  .centy/issues/b7526d8c-8d09-4e83-b477-fe8cdf788c94/issue.md
  .centy/issues/b7526d8c-8d09-4e83-b477-fe8cdf788c94/metadata.json
Due: prettier --write, cspell lint --no-must-find-files

fix(metadata): update issue status from in-progress to closed and adjust timestamps
  .centy/.centy-manifest.json
  .centy/issues/ee221b7a-d0a3-4fe5-803d-9d52021af9fd/metadata.json
Due: prettier --write, cspell lint --no-must-find-files

test(e2e): add comprehensive e2e tests for EditorSelector component
  app/[organization]/[project]/issues/[issueId]/screenshot/editor-selector-after-terminal-select-chromium.png
  app/[organization]/[project]/issues/[issueId]/screenshot/editor-selector-dropdown-open-dark-chromium.png
  app/[organization]/[project]/issues/[issueId]/screenshot/editor-selector-dropdown-open-light-chromium.png
  app/[organization]/[project]/issues/[issueId]/screenshot/editor-selector-terminal-dark-chromium.png
  app/[organization]/[project]/issues/[issueId]/screenshot/editor-selector-terminal-light-chromium.png
  app/[organization]/[project]/issues/[issueId]/screenshot/editor-selector-vscode-dark-chromium.png
  app/[organization]/[project]/issues/[issueId]/screenshot/editor-selector-vscode-light-chromium.png
  e2e/tests/issues/issue-detail.spec.ts
  e2e/tests/visual/[organization]/[project]/issues/[issueId]/screenshot/issue-detail.visual.spec.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

feat(issues): add editor selector for VS Code and Terminal workspaces (#12)
  app/[organization]/[project]/issues/[issueId]/screenshot/editor-selector-after-terminal-select-chromium.png
  app/[organization]/[project]/issues/[issueId]/screenshot/editor-selector-dropdown-open-dark-chromium.png
  app/[organization]/[project]/issues/[issueId]/screenshot/editor-selector-dropdown-open-light-chromium.png
  app/[organization]/[project]/issues/[issueId]/screenshot/editor-selector-terminal-dark-chromium.png
  app/[organization]/[project]/issues/[issueId]/screenshot/editor-selector-terminal-light-chromium.png
  app/[organization]/[project]/issues/[issueId]/screenshot/editor-selector-vscode-dark-chromium.png
  app/[organization]/[project]/issues/[issueId]/screenshot/editor-selector-vscode-light-chromium.png
  components/issues/IssueDetail.tsx
  components/providers/DaemonStatusProvider.tsx
  components/shared/EditorSelector.tsx
  e2e/tests/issues/issue-detail.spec.ts
  e2e/tests/visual/[organization]/[project]/issues/[issueId]/screenshot/issue-detail.visual.spec.ts
  gen/centy_pb.ts
  lib/grpc/mock-handlers.ts
  proto/centy.proto
  styles/components/EditorSelector.css
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix: allow opening editor when other issues have active work
  components/issues/IssueDetail.tsx
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

feat(issue): add issue #116 for enhancing pre-push visual testing
  .centy/issues/c1bae1da-18eb-4a8c-a939-a2cab6aba1f9/issue.md
  .centy/issues/c1bae1da-18eb-4a8c-a939-a2cab6aba1f9/metadata.json
Due: prettier --write, cspell lint --no-must-find-files

fix: update issue statuses from open to in-progress and adjust timestamps
  .centy/.centy-manifest.json
  .centy/issues/b7526d8c-8d09-4e83-b477-fe8cdf788c94/metadata.json
  .centy/issues/d6321d3a-cc37-4040-b5d5-d67f5ff3af52/metadata.json
  .centy/issues/d903f170-e43c-4d3a-abee-a0df19b7e28c/metadata.json
Due: prettier --write, cspell lint --no-must-find-files

feat(hooks): run all visual tests in parallel on pre-push
  .husky/pre-push
Due: none

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,md,css})
  cspell lint --no-must-find-files: any of: *.{ts,tsx,js,md,json}
