Repository tupe12334/centy-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, cspell lint --no-must-find-files

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md,css}": ["prettier --write"],
  "*.{ts,tsx,js,md,json}": ["cspell lint --no-must-find-files"]
}

refactor: migrate to optional catch-all routes for SPA mode
  app/docs/[[...params]]/DocsPageClient.tsx
  app/docs/[[...params]]/page.tsx
  app/docs/[slug]/DocDetailPage.tsx
  app/docs/[slug]/page.tsx
  app/docs/page.tsx
  app/issues/[[...params]]/IssuesPageClient.tsx
  app/issues/[[...params]]/page.tsx
  app/issues/[issueNumber]/IssueDetailPage.tsx
  app/issues/[issueNumber]/page.tsx
  app/issues/page.tsx
  package.json
  public/_redirects
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix: improve deep link handling with client-side routing fallback
  app/issues/[[...params]]/IssuesPageClient.tsx
  app/layout.tsx
  components/layout/ClientRouteHandler.tsx
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

feat(settings): add configurable daemon URL with localStorage persistence
  components/settings/DaemonSettings.tsx
  components/settings/Settings.tsx
  cspell.json
  lib/grpc/client.ts
  styles/pages/Settings.css
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix(project): use Tauri native dialog for folder selection to get full paths
  components/project/InitProject.tsx
  cspell.json
  package.json
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

chore(docs): replace npx with pnpm dlx for running centy commands
  components/layout/DaemonDisconnectedOverlay.tsx
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

chore: regenerate pnpm-lock.yaml with @tauri-apps/plugin-dialog
  pnpm-lock.yaml
Due: none

feat(ui): update header logo to use neural network icon
  .centy/.centy-manifest.json
  .centy/issues/f236cf2f-8c28-44b0-900b-5bed99be7884/issue.md
  .centy/issues/f236cf2f-8c28-44b0-900b-5bed99be7884/metadata.json
  styles/globals.css
Due: prettier --write, cspell lint --no-must-find-files

feat(settings): split general settings and project config into separate pages
  .centy/issues/7dfde53f-b642-438e-8ee4-4f88ea9158d4/issue.md
  .centy/issues/7dfde53f-b642-438e-8ee4-4f88ea9158d4/metadata.json
  app/project/config/page.tsx
  app/settings/page.tsx
  components/layout/Header.tsx
  components/settings/GeneralSettings.tsx
  components/settings/ProjectConfig.tsx
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

feat(archived): add "Remove all" button to archived projects page
  components/project/ArchivedProjects.tsx
  styles/pages/ArchivedProjects.css
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

feat(navigation): add keyboard navigation between pages with arrow keys
  components/layout/ClientRouteHandler.tsx
  cspell.json
  hooks/useKeyboardNavigation.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix(lint): remove unnecessary dependency in useCallback
  components/project/InitProject.tsx
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

feat(app): add pull request support with pages and components
  app/pull-requests/[[...params]]/PRsPageClient.tsx
  app/pull-requests/[[...params]]/page.tsx
  app/pull-requests/new/page.tsx
  components/layout/Header.tsx
  components/pull-requests/CreatePR.tsx
  components/pull-requests/PRDetail.tsx
  components/pull-requests/PRsList.tsx
  gen/centy_pb.ts
  proto/centy.proto
  styles/pages/CreatePR.css
  styles/pages/PRDetail.css
  styles/pages/PRsList.css
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

chore(centy): update issue statuses and add new issues
  .centy/.centy-manifest.json
  .centy/issues/2fbc60b9-4a84-4fe3-b768-8001d5a63a51/issue.md
  .centy/issues/2fbc60b9-4a84-4fe3-b768-8001d5a63a51/metadata.json
  .centy/issues/60e76a62-3405-4cb8-bea9-82e25fdebbda/metadata.json
  .centy/issues/62adea08-681f-4e4a-b4a9-c78b0e7e97ca/issue.md
  .centy/issues/62adea08-681f-4e4a-b4a9-c78b0e7e97ca/metadata.json
  .centy/issues/7dfde53f-b642-438e-8ee4-4f88ea9158d4/metadata.json
  .centy/issues/946d2a83-8579-4f95-b9a8-15cd70308822/metadata.json
  .centy/issues/f21d4878-94d5-47f6-8e50-d155fbf9b763/metadata.json
  .centy/issues/f236cf2f-8c28-44b0-900b-5bed99be7884/metadata.json
Due: prettier --write, cspell lint --no-must-find-files

chore: update centy issue tracking data and fix typos
  .centy/.centy-manifest.json
  .centy/issues/1d7368b2-3085-4ec9-b152-e89bceb2bc49/issue.md
  .centy/issues/1d7368b2-3085-4ec9-b152-e89bceb2bc49/metadata.json
  .centy/issues/28bf4df0-5fa3-4ad9-acc8-0a3b14a2355b/issue.md
  .centy/issues/28bf4df0-5fa3-4ad9-acc8-0a3b14a2355b/metadata.json
  .centy/issues/2f37164a-d3d3-4e6b-94cd-e4dca9217584/assets/Screenshot 2025-12-10 at 16.45.24.png
  .centy/issues/2f37164a-d3d3-4e6b-94cd-e4dca9217584/issue.md
  .centy/issues/2f37164a-d3d3-4e6b-94cd-e4dca9217584/metadata.json
  .centy/issues/481a292c-b02b-4a5e-aec2-575023c67448/metadata.json
  .centy/issues/4fe896dd-896f-49f3-8eec-79849075d303/issue.md
  .centy/issues/4fe896dd-896f-49f3-8eec-79849075d303/metadata.json
  .centy/issues/52b12ef1-697e-49fc-9fe9-153cfe558455/issue.md
  .centy/issues/52b12ef1-697e-49fc-9fe9-153cfe558455/metadata.json
  .centy/issues/642aa6e4-dd76-434c-a936-418ae1a42b91/issue.md
  .centy/issues/642aa6e4-dd76-434c-a936-418ae1a42b91/metadata.json
  .centy/issues/6af5ba1a-145b-427c-a805-5352e7520804/issue.md
  .centy/issues/6af5ba1a-145b-427c-a805-5352e7520804/metadata.json
  .centy/issues/706c840e-5630-4596-8c46-7e8f9588e644/issue.md
  .centy/issues/706c840e-5630-4596-8c46-7e8f9588e644/metadata.json
  .centy/issues/7cbd39ee-219d-44dd-b2ff-483bef880a91/issue.md
  .centy/issues/7cbd39ee-219d-44dd-b2ff-483bef880a91/metadata.json
  .centy/issues/8aba5326-c045-47b6-afb0-fe6174677f6c/issue.md
  .centy/issues/8aba5326-c045-47b6-afb0-fe6174677f6c/metadata.json
  .centy/issues/a6219915-d376-44e0-b008-f9baa7ab3dfa/issue.md
  .centy/issues/a6219915-d376-44e0-b008-f9baa7ab3dfa/metadata.json
  .centy/issues/bbac2d4e-e295-4973-a248-43e69dbc2f24/issue.md
  .centy/issues/bbac2d4e-e295-4973-a248-43e69dbc2f24/metadata.json
  .centy/issues/c63a31f7-7ec6-49b9-a131-a8acc7cfa3c3/issue.md
  .centy/issues/c63a31f7-7ec6-49b9-a131-a8acc7cfa3c3/metadata.json
  .centy/issues/dc4ebd6e-5104-472b-971c-f32a5e77dfa5/issue.md
  .centy/issues/dc4ebd6e-5104-472b-971c-f32a5e77dfa5/metadata.json
  .centy/issues/e9b2cf0e-28eb-415b-b2d0-1fecf879e624/issue.md
  .centy/issues/e9b2cf0e-28eb-415b-b2d0-1fecf879e624/metadata.json
  .centy/issues/f1ee6586-3216-46d6-870c-ec0b5f18c107/issue.md
  .centy/issues/f1ee6586-3216-46d6-870c-ec0b5f18c107/metadata.json
Due: prettier --write, cspell lint --no-must-find-files

chore(centy-app): add tsconfig.tsbuildinfo to gitignore
  .gitignore
Due: none

feat(ui): add link management UI components
  .centy/.centy-manifest.json
  components/docs/DocDetail.tsx
  components/issues/IssueDetail.tsx
  components/pull-requests/PRDetail.tsx
  components/shared/AddLinkModal.tsx
  components/shared/LinkSection.tsx
  gen/centy_pb.ts
  proto/centy.proto
  styles/components/LinkSection.css
  styles/globals.css
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix(layout): add suppressHydrationWarning to prevent browser extension conflicts
  app/layout.tsx
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix(config): allow dynamic routes in dev mode with conditional static export
  app/issues/[[...params]]/page.tsx
  next.config.js
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

chore(issues): add issue for display_path implementation in app
  .centy/issues/9a1e8d82-cc00-4550-995d-f816c587ac3c/issue.md
  .centy/issues/9a1e8d82-cc00-4550-995d-f816c587ac3c/metadata.json
Due: prettier --write, cspell lint --no-must-find-files

feat(issues): add initial issue and metadata for backward compatibility
  .centy/issues/2c8f8e01-4777-452b-baf5-797ea1207d24/issue.md
  .centy/issues/2c8f8e01-4777-452b-baf5-797ea1207d24/metadata.json
Due: prettier --write, cspell lint --no-must-find-files

feat(issues): add issue documentation and metadata for eslint-config-agent adoption
  .centy/issues/8d6fe239-7f90-42e2-9004-8c94346b7ea1/issue.md
  .centy/issues/8d6fe239-7f90-42e2-9004-8c94346b7ea1/metadata.json
Due: prettier --write, cspell lint --no-must-find-files

feat(issues): add LLM integration UI and update metadata for related issues
  .centy/issues/5928c53f-b087-4862-9285-776238b72242/issue.md
  .centy/issues/5928c53f-b087-4862-9285-776238b72242/metadata.json
  .centy/issues/7341a3c7-6b6a-4c67-8b83-67ca4f2b0239/issue.md
  .centy/issues/7341a3c7-6b6a-4c67-8b83-67ca4f2b0239/metadata.json
  .centy/issues/b2b9f4d9-fd91-4f4c-963e-69319c0b5e0b/issue.md
  .centy/issues/b2b9f4d9-fd91-4f4c-963e-69319c0b5e0b/metadata.json
  .centy/issues/d7e4412e-62b3-4f25-80ce-209518c1bb95/metadata.json
Due: prettier --write, cspell lint --no-must-find-files

feat(ui): add dark mode support with system preference detection
  components/layout/Header.tsx
  components/providers/Providers.tsx
  components/providers/ThemeProvider.tsx
  components/shared/ThemeToggle.tsx
  package.json
  pnpm-lock.yaml
  styles/components/ThemeToggle.css
  styles/globals.css
  styles/pages/CreateDoc.css
  styles/pages/CreateIssue.css
  styles/pages/CreatePR.css
  styles/pages/DocDetail.css
  styles/pages/DocsList.css
  styles/pages/IssueDetail.css
  styles/pages/IssuesList.css
  styles/pages/PRDetail.css
  styles/pages/PRsList.css
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix(ui): fix dark mode text visibility using semantic CSS tokens
  styles/components/MultiSelect.css
  styles/globals.css
  styles/index.css
Due: prettier --write

feat(issues): persist sorting and filter settings per project
  components/issues/IssuesList.tsx
  hooks/useIssueTableSettings.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

feat(issues): support custom states from project config
  components/issues/IssueDetail.tsx
  components/issues/IssuesList.tsx
  hooks/useConfig.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix(types): update components for proto changes and add hasPlan to test mocks
  components/assets/AssetUploader.tsx
  components/pull-requests/PRDetail.tsx
  components/shared/AddLinkModal.spec.tsx
  components/shared/LinkSection.tsx
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix(assets): remove isPr parameter from uploadAsset calls
  components/assets/AssetUploader.tsx
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

chore(issues): close issue #58 - display_path already implemented
  .centy/issues/9a1e8d82-cc00-4550-995d-f816c587ac3c/metadata.json
Due: prettier --write, cspell lint --no-must-find-files

feat(e2e): add E2E testing infrastructure with Playwright and gRPC-Web mocking
  .gitignore
  cspell.json
  e2e/fixtures/config.ts
  e2e/fixtures/docs.ts
  e2e/fixtures/index.ts
  e2e/fixtures/issues.ts
  e2e/mocks/grpc-utils.ts
  e2e/mocks/handlers/docs.ts
  e2e/mocks/handlers/index.ts
  e2e/mocks/handlers/issues.ts
  e2e/mocks/handlers/project.ts
  e2e/tests/docs/docs.spec.ts
  e2e/tests/issues/issue-detail.spec.ts
  e2e/tests/issues/issues-list.spec.ts
  e2e/tests/navigation/navigation.spec.ts
  e2e/tests/visual/issues.visual.spec.ts
  e2e/tests/visual/layout.visual.spec.ts
  e2e/utils/mock-grpc.ts
  e2e/utils/test-helpers.ts
  knip.json
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  vitest.config.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

feat(issues): add state selector to create issue page
  components/issues/CreateIssue.tsx
  components/issues/IssueDetail.tsx
  components/issues/IssuesList.tsx
  components/settings/StateListEditor.tsx
  hooks/useConfig.ts
  lib/state/StateManager.ts
  lib/state/index.ts
  lib/state/useStateManager.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

chore(cspell): add OPENCODE to dictionary
  cspell.json
Due: prettier --write, cspell lint --no-must-find-files

fix(hooks): document issue #63 - infinite loop in useConfig
  .centy/issues/7fb0bcbc-b56d-4d96-a6c7-187304cea425/issue.md
  .centy/issues/7fb0bcbc-b56d-4d96-a6c7-187304cea425/metadata.json
Due: prettier --write, cspell lint --no-must-find-files

chore(issues): close issue #34 - Custom states
  .centy/issues/bbac2d4e-e295-4973-a248-43e69dbc2f24/metadata.json
Due: prettier --write, cspell lint --no-must-find-files

feat(settings): add agent configuration UI with user and project scope support
  components/settings/AgentConfigEditor.tsx
  styles/components/AgentConfigEditor.css
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

chore(issues): close issue #56 after validating generateStaticParams fix
  .centy/.centy-manifest.json
  .centy/issues/409a21d6-48ee-40d8-b6c2-2fb669db1bc4/issue.md
  .centy/issues/409a21d6-48ee-40d8-b6c2-2fb669db1bc4/metadata.json
Due: prettier --write, cspell lint --no-must-find-files

fix(styles): fix dark mode support for all dialogs and pages
  styles/App.css
  styles/components/AgentConfigEditor.css
  styles/components/AssetUploader.css
  styles/components/ContextMenu.css
  styles/components/CustomFieldsEditor.css
  styles/components/LinkSection.css
  styles/components/MoveModal.css
  styles/components/PriorityEditor.css
  styles/components/StateListEditor.css
  styles/globals.css
  styles/pages/ArchivedProjects.css
  styles/pages/DocDetail.css
  styles/pages/DocsList.css
  styles/pages/PRDetail.css
  styles/pages/PRsList.css
  styles/pages/Settings.css
  styles/pages/SharedAssets.css
Due: prettier --write

fix(styles): add missing organization CSS files
  styles/components/OrgSwitcher.css
  styles/pages/CreateOrganization.css
  styles/pages/OrganizationDetail.css
  styles/pages/OrganizationsList.css
Due: prettier --write

feat(organizations): add organizations UI for grouping projects
  app/organizations/[[...params]]/OrganizationsPageClient.tsx
  app/organizations/[[...params]]/page.tsx
  app/organizations/new/page.tsx
  components/layout/Header.tsx
  components/organizations/CreateOrganization.tsx
  components/organizations/OrgSwitcher.tsx
  components/organizations/OrganizationDetail.tsx
  components/organizations/OrganizationsList.tsx
  components/project/ProjectSelector.tsx
  components/providers/OrganizationProvider.tsx
  components/providers/Providers.tsx
  components/settings/ProjectConfig.tsx
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

chore: add new issues and update manifest
  .centy/.centy-manifest.json
  .centy/issues/6e9f6025-ce39-44e2-b094-ee302f0976b4/issue.md
  .centy/issues/6e9f6025-ce39-44e2-b094-ee302f0976b4/metadata.json
  .centy/issues/a08c8af0-e7ae-4168-8d73-049ccb1a5578/metadata.json
  .centy/issues/c5bdbf2d-6250-4aa2-8f42-048fe88ee90d/issue.md
  .centy/issues/c5bdbf2d-6250-4aa2-8f42-048fe88ee90d/metadata.json
  .centy/issues/c882a90b-64a9-47cc-ad08-4a2b1df139ad/issue.md
  .centy/issues/c882a90b-64a9-47cc-ad08-4a2b1df139ad/metadata.json
  .centy/issues/e0e48aef-b165-4740-9c16-5b2487c2efd0/issue.md
  .centy/issues/e0e48aef-b165-4740-9c16-5b2487c2efd0/metadata.json
  .centy/issues/e683fb50-1135-4f9e-8dd4-15167a26be78/issue.md
  .centy/issues/e683fb50-1135-4f9e-8dd4-15167a26be78/metadata.json
  .centy/issues/ecf5ce9b-6ff4-4f9c-8f62-10a4e60d499e/issue.md
  .centy/issues/ecf5ce9b-6ff4-4f9c-8f62-10a4e60d499e/metadata.json
  .centy/issues/faa3ecd0-1f1d-424a-987c-7d7038872029/issue.md
  .centy/issues/faa3ecd0-1f1d-424a-987c-7d7038872029/metadata.json
  .centy/issues/ffeec7b3-4f69-4f50-9156-40171d1d7203/issue.md
  .centy/issues/ffeec7b3-4f69-4f50-9156-40171d1d7203/metadata.json
  .centy/llm-work.json
Due: prettier --write, cspell lint --no-must-find-files
