Repository tupe12334/centy-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, cspell lint --no-must-find-files

feat(app): add routing and issue management pages
  package.json
  pnpm-lock.yaml
  src/App.css
  src/App.spec.tsx
  src/App.tsx
  src/main.tsx
  src/pages/CreateIssue.css
  src/pages/CreateIssue.spec.tsx
  src/pages/CreateIssue.tsx
  src/pages/IssueDetail.css
  src/pages/IssueDetail.spec.tsx
  src/pages/IssueDetail.tsx
  src/pages/IssuesList.css
  src/pages/IssuesList.spec.tsx
  src/pages/IssuesList.tsx
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix(app): fix formatting and spelling issues for CI
  cspell.json
  src/pages/CreateIssue.tsx
  src/pages/IssueDetail.spec.tsx
  src/pages/IssueDetail.tsx
  src/pages/IssuesList.tsx
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

feat(config): configure unique port 5180 for dev server
  vite.config.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix(proto): sync with daemon and update client for numeric priority
  proto/centy.proto
  src/App.spec.tsx
  src/App.tsx
  src/gen/centy_pb.ts
  src/pages/CreateIssue.spec.tsx
  src/pages/CreateIssue.tsx
  src/pages/IssueDetail.spec.tsx
  src/pages/IssueDetail.tsx
  src/pages/IssuesList.spec.tsx
  src/pages/IssuesList.tsx
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

feat(issue): add new issue and metadata for project menu enhancement
  .centy/.centy-manifest.json
  .centy/issues/0002/issue.md
  .centy/issues/0002/metadata.json
Due: prettier --write, cspell lint --no-must-find-files

feat(ui): move init project button from nav bar to project selector
  src/App.spec.tsx
  src/App.tsx
  src/components/ProjectSelector.css
  src/components/ProjectSelector.tsx
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

feat(ui): add smart positioning to project selector dropdown
  package.json
  pnpm-lock.yaml
  src/components/ProjectSelector.css
  src/components/ProjectSelector.tsx
  src/pages/IssueDetail.spec.tsx
  src/pages/IssuesList.spec.tsx
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

chore(issues): close issue #8 - display number already implemented
  .centy/issues/69000e35-e94b-4b6f-b2ec-b70830aede68/metadata.json
Due: prettier --write, cspell lint --no-must-find-files

feat(issues): add TanStack Table with sorting and column filtering
  package.json
  pnpm-lock.yaml
  src/pages/IssuesList.css
  src/pages/IssuesList.tsx
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

feat(projects): add project archival functionality
  src/App.tsx
  src/components/ProjectSelector.css
  src/components/ProjectSelector.spec.tsx
  src/components/ProjectSelector.tsx
  src/context/ProjectContext.tsx
  src/pages/ArchivedProjects.css
  src/pages/ArchivedProjects.tsx
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

feat(issues): add issue metadata and description for issue tracking
  .centy/issues/46288846-a5df-4ed3-8490-eff6f1f413b0/assets/Screenshot 2025-12-03 at 18.54.08.png
  .centy/issues/46288846-a5df-4ed3-8490-eff6f1f413b0/issue.md
  .centy/issues/46288846-a5df-4ed3-8490-eff6f1f413b0/metadata.json
Due: prettier --write, cspell lint --no-must-find-files

fix(components): resolve infinite loop in AssetUploader useEffect
  src/components/AssetUploader.tsx
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

test(assets): add comprehensive AssetUploader tests to meet coverage thresholds
  cspell.json
  src/components/AssetUploader.spec.tsx
  src/pages/IssueDetail.spec.tsx
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix(tests): add proper TypeScript types to listAssets mock
  src/pages/IssueDetail.spec.tsx
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

feat(issues): add issue details and default filter to manage issue visibility
  .centy/.centy-manifest.json
  .centy/issues/dcd6ab55-fcb0-4f80-991f-466be21c22c9/issue.md
  .centy/issues/dcd6ab55-fcb0-4f80-991f-466be21c22c9/metadata.json
Due: prettier --write, cspell lint --no-must-find-files

feat(issues): add new issue and metadata files for enhanced issue tracking
  .centy/.centy-manifest.json
  .centy/issues/8395d354-1d72-4427-92bb-39454bc3fb21/issue.md
  .centy/issues/8395d354-1d72-4427-92bb-39454bc3fb21/metadata.json
Due: prettier --write, cspell lint --no-must-find-files

feat(issues): update issue statuses to closed and remove obsolete issue files
  .centy/.centy-manifest.json
  .centy/issues/0002/metadata.json
  .centy/issues/46288846-a5df-4ed3-8490-eff6f1f413b0/metadata.json
  .centy/issues/b28c1ffd-fb90-493c-976f-b142e962cdce/issue.md
  .centy/issues/b28c1ffd-fb90-493c-976f-b142e962cdce/metadata.json
Due: prettier --write, cspell lint --no-must-find-files

feat(issues): update issue metadata to reflect closed status and adjust timestamps
  .centy/.centy-manifest.json
  .centy/issues/0001/metadata.json
  .centy/issues/be736227-be34-44dc-8adb-ed42ab7d5782/metadata.json
Due: prettier --write, cspell lint --no-must-find-files

feat(issues): add new issue with metadata and update manifest timestamps
  .centy/.centy-manifest.json
  .centy/issues/bbb991fc-fd3c-4566-9274-e4acc1982e69/issue.md
  .centy/issues/bbb991fc-fd3c-4566-9274-e4acc1982e69/metadata.json
Due: prettier --write, cspell lint --no-must-find-files

feat(proto): implement all RPCs from centy.proto
  proto/centy.proto
  src/App.tsx
  src/components/AssetUploader.spec.tsx
  src/components/AssetUploader.tsx
  src/components/ProjectSelector.tsx
  src/gen/centy_pb.ts
  src/pages/CreateDoc.css
  src/pages/CreateDoc.tsx
  src/pages/DocDetail.css
  src/pages/DocDetail.tsx
  src/pages/DocsList.css
  src/pages/DocsList.tsx
  src/pages/IssueDetail.spec.tsx
  src/pages/Settings.css
  src/pages/Settings.tsx
  src/pages/SharedAssets.css
  src/pages/SharedAssets.tsx
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

feat(issues): update issue status to closed and add new files to manifest
  .centy/.centy-manifest.json
  .centy/issues/0004/metadata.json
Due: prettier --write, cspell lint --no-must-find-files

feat(issues): update issue status to closed and modify timestamps in manifest
  .centy/.centy-manifest.json
  .centy/issues/cda1a196-f63f-4e6b-938f-2b5bcb92dadf/metadata.json
Due: prettier --write, cspell lint --no-must-find-files

feat(issues): update issue statuses to closed and modify timestamps in metadata
  .centy/.centy-manifest.json
  .centy/issues/8395d354-1d72-4427-92bb-39454bc3fb21/metadata.json
  .centy/issues/bbb991fc-fd3c-4566-9274-e4acc1982e69/metadata.json
  .centy/issues/dcd6ab55-fcb0-4f80-991f-466be21c22c9/metadata.json
Due: prettier --write, cspell lint --no-must-find-files

test(pages): add comprehensive page test suites
  src/pages/ArchivedProjects.spec.tsx
  src/pages/CreateDoc.spec.tsx
  src/pages/DocDetail.spec.tsx
  src/pages/DocsList.spec.tsx
  src/pages/Settings.spec.tsx
  src/pages/SharedAssets.spec.tsx
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

feat(issues): add issue for upgrading markdown editor to Tiptap
  .centy/.centy-manifest.json
  .centy/issues/f21d4878-94d5-47f6-8e50-d155fbf9b763/issue.md
  .centy/issues/f21d4878-94d5-47f6-8e50-d155fbf9b763/metadata.json
  cspell.json
Due: prettier --write, cspell lint --no-must-find-files

feat(app): add daemon disconnected overlay
  src/components/DaemonDisconnectedOverlay.css
  src/components/DaemonDisconnectedOverlay.tsx
  src/main.tsx
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

feat(settings): add editable settings page with UpdateConfig RPC
  proto/centy.proto
  src/components/ColorPicker.css
  src/components/ColorPicker.tsx
  src/components/CustomFieldsEditor.css
  src/components/CustomFieldsEditor.tsx
  src/components/DefaultsEditor.css
  src/components/DefaultsEditor.tsx
  src/components/LlmSettingsEditor.css
  src/components/LlmSettingsEditor.tsx
  src/components/PriorityEditor.css
  src/components/PriorityEditor.tsx
  src/components/StateListEditor.css
  src/components/StateListEditor.tsx
  src/gen/centy_pb.ts
  src/pages/Settings.css
  src/pages/Settings.spec.tsx
  src/pages/Settings.tsx
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

feat: add documentation link to docs.centy.io
  README.md
  src/App.css
  src/App.tsx
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

feat(config): add initial configuration file with default settings
  .centy/config.json
Due: prettier --write, cspell lint --no-must-find-files

fix(ci): add missing useCopyToClipboard hook
  src/hooks/useCopyToClipboard.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

feat(ui): add click-to-copy UUID/slug for issues and docs
  cspell.json
  package.json
  pnpm-lock.yaml
  src/App.tsx
  src/hooks/useCopyToClipboard.ts
  src/pages/DocDetail.css
  src/pages/DocDetail.tsx
  src/pages/DocsList.css
  src/pages/DocsList.tsx
  src/pages/IssueDetail.css
  src/pages/IssueDetail.tsx
  src/pages/IssuesList.css
  src/pages/IssuesList.tsx
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

feat(editor): add Tiptap WYSIWYG markdown editor for issues and docs
  package.json
  pnpm-lock.yaml
  src/components/MarkdownEditor.css
  src/components/MarkdownEditor.tsx
  src/pages/CreateDoc.spec.tsx
  src/pages/CreateDoc.tsx
  src/pages/CreateIssue.spec.tsx
  src/pages/CreateIssue.tsx
  src/pages/DocDetail.spec.tsx
  src/pages/DocDetail.tsx
  src/pages/IssueDetail.spec.tsx
  src/pages/IssueDetail.tsx
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

test(editor): add comprehensive tests for MarkdownEditor component
  src/components/MarkdownEditor.spec.tsx
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

chore(centy): update issue tracker with new issues and status changes
  .centy/.centy-manifest.json
  .centy/issues/19356e03-0a9b-4f6e-8e37-721ec3bd355d/assets/Screenshot 2025-12-04 at 10.22.07.png
  .centy/issues/19356e03-0a9b-4f6e-8e37-721ec3bd355d/issue.md
  .centy/issues/19356e03-0a9b-4f6e-8e37-721ec3bd355d/metadata.json
  .centy/issues/481a292c-b02b-4a5e-aec2-575023c67448/assets/Screenshot 2025-12-04 at 10.24.45.png
  .centy/issues/481a292c-b02b-4a5e-aec2-575023c67448/issue.md
  .centy/issues/481a292c-b02b-4a5e-aec2-575023c67448/metadata.json
  .centy/issues/67b4443f-25f3-4f0e-b471-6d3f257d2933/issue.md
  .centy/issues/67b4443f-25f3-4f0e-b471-6d3f257d2933/metadata.json
  .centy/issues/cd7d934d-676f-471d-bb7e-3c9564141ca4/metadata.json
  .centy/issues/d5fb9336-5cd1-45ec-bfbd-bafef46658e5/metadata.json
Due: prettier --write, cspell lint --no-must-find-files

chore: update knip configuration for Next.js structure
  knip.json
Due: prettier --write, cspell lint --no-must-find-files

fix: simplify Next.js Link mock in test setup
  __tests__/setup.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix(ci): remove explicit pnpm version to use packageManager field
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
Due: none

chore(terraform): add lock file and ignore state files
  .gitignore
  terraform/.terraform.lock.hcl
Due: none

refactor: migrate from OpenNext to static export with client-side rendering
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  app/docs/[slug]/page.tsx
  app/issues/[issueNumber]/page.tsx
  next.config.js
  open-next.config.ts
  package.json
  pnpm-lock.yaml
  public/_redirects
  wrangler.jsonc
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,md,css})
  cspell lint --no-must-find-files: any of: *.{ts,tsx,js,md,json}
